.reagent-dev-tools__panel {
  z-index: 2000;
  width: 100%;
  position: fixed;
  background: #fff;
  text-align: left;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.reagent-dev-tools__table {
  border-collapse: collapse;
  border-spacing: 0;
}

.reagent-dev-tools__nav {
  padding: 5px 0 0 10px;
  margin: 0;
  border-bottom: 1px solid #ccc;
  display: flex;
  background: #eee;
  flex: 0 0 auto;
}

.reagent-dev-tools__nav-li {
  margin-bottom: -1px;
  margin-right: 10px;
}

.reagent-dev-tools__nav-li-a {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  background: #eee;
  color: #666;
  border: 1px solid #ccc;
  border-bottom-color: #ccc;
}

.reagent-dev-tools__nav-li-a--active {
  background: #fff;
  color: #333;
  border-bottom-color: #fff;
}

.reagent-dev-tools__spacer {
  flex: 1 0 0%;
}

.reagent-dev-tools__nav-li-a--close-button {
  background: #fff;
}

.reagent-dev-tools__td {
  padding: 0;
}

.reagent-dev-tools__pre {
  display: inline;
  background: none;
  border: 0;
  padding: 0;
}

.reagent-dev-tools__li {
  padding-left: 1em;
  text-indent: -1em;
  list-style: none;
}

.reagent-dev-tools__pull-right {
  float: right;
}

/* nav-li-a-style */
.reagent-dev-tools__toggle-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2000;
}

.reagent-dev-tools__panel-content {
  padding: 10px;
  overflow-y: auto;
}

.reagent-dev-tools__sizer {
  background: #888;
  height: 5px;
  cursor: ns-resize;
  flex: 0 0 auto;
}
