.reagent-dev-tools__panel {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', system-ui, Roboto, 'Helvetica Neue', sans-serif;
  font-size: 16px;

  z-index: 2000;
  position: fixed;
  background: #fff;
  text-align: left;
  display: flex;
}

.reagent-dev-tools__table {
  border-collapse: collapse;
  border-spacing: 0;
}

.reagent-dev-tools__nav {
  padding: 5px 0 0 10px;
  margin: 0;
  border-bottom: 1px solid #ccc;
  display: flex;
  background: #eee;
  flex: 0 0 auto;
}

.reagent-dev-tools__nav-li {
  margin-bottom: -1px;
  margin-right: 10px;
}

.reagent-dev-tools__nav-li-a {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  background: #eee;
  color: #666;
  border: 1px solid #ccc;
  border-bottom-color: #ccc;
}

.reagent-dev-tools__nav-li-a:hover {
  background: #BDF;
}

.reagent-dev-tools__nav-li-a--active {
  background: #fff;
  color: #333;
  border-bottom-color: #fff;
}

.reagent-dev-tools__spacer {
  flex: 1 0 0%;
}

.reagent-dev-tools__nav-li-a--option-button {
  padding: 0 10px;
  margin-left: 1px;
  background: #fff;
}
.reagent-dev-tools__nav-li-a--close-button {
  padding: 0 10px;
  margin-left: 10px;
  background: #fff;
}

.reagent-dev-tools__td {
  padding: 0;
}

.reagent-dev-tools__pre {
  font-family: 'SFMono-Regular', 'Ubuntu Mono', Consolas, 'DejaVu Sans Mono', Menlo, monospace;
  display: inline;
  background: none;
  border: 0;
  padding: 0;
}

.reagent-dev-tools__ul {
  padding-left: 1em;
}

.reagent-dev-tools__li {
  padding-left: 1em;
  text-indent: -1em;
  list-style: none;
}

.reagent-dev-tools__li-toggle {
  padding: 2px 6px;
}

.reagent-dev-tools__li-toggle--active {
  cursor: pointer;
}

.reagent-dev-tools__li-toggle--active:hover {
  background: #BDF;
}

.reagent-dev-tools__li-toggle-icon {
  display: inline-block;
}

.reagent-dev-tools__pull-right {
  float: right;
}

/* nav-li-a-style */
.reagent-dev-tools__toggle-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2000;
}

.reagent-dev-tools__panel-content {
  padding: 10px;
  overflow-y: auto;
  overflow-x: auto;
  flex: 1 0 auto;
}

.reagent-dev-tools__sizer {
  background: #888;
  flex: 0 0 auto;
}

.reagent-dev-tools__sizer:hover {
  background: #79D
}

.reagent-dev-tools__keyword {
  color: #6f42c1;
}

.reagent-dev-tools__string {
  color: #032f62;
}

.reagent-dev-tools__number {
  color: #005cc5;
}

.reagent-dev-tools__nil {
}

.reagent-dev-tools__bottom-icon, .reagent-dev-tools__right-icon {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border: 1px solid #888;
}

.reagent-dev-tools__bottom-icon {
  border-bottom-width: 12px;
}

.reagent-dev-tools__right-icon {
  border-right-width: 12px;
}

.reagent-dev-tools__close-icon {
  width: 24px;
  height: 24px;
  position: relative;
}

.reagent-dev-tools__close-icon::before, .reagent-dev-tools__close-icon::after {
  position: absolute;
  left: 12px;
  content: ' ';
  height: 24px;
  width: 2px;
  background-color: #888;
}

.reagent-dev-tools__close-icon::before {
  transform: rotate(45deg);
}

.reagent-dev-tools__close-icon::after {
  transform: rotate(-45deg);
}
